@import '../../global_styling/functions/index';


// Core
$euiColorPrimary: #256BD1;
$euiColorSecondary: #207D82;
$euiColorAccent: #7C3DB2;

// Status
$euiColorSuccess: $euiColorSecondary;
$euiColorWarning: #FEC514;
$euiColorDanger: #BD271E;
